:root {
    --app-height: 100%;
    --app-width: 100%;
}

html {
    background: $gray;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $white;
    color: $blue;
    display: flex;
    flex-direction: column;
    font-family: "Avenir", $font-fallback;
    font-size: 15px;
    margin: 0 auto;
    max-width: $max-width;
    min-height: 100%;
    overflow-x: hidden;
}

// input {
//     border-color: $blue;
//     border-style: solid;
//     color: $blue;
//     font-family: "AcuminVariableConcept", $font-fallback;
//     font-size: 15px;
//     font-weight: 800;

//     &:focus {
//         border: 2px solid $orange;
//         box-shadow: none;
//         outline: none;
//     }
// }

input[type="text"],
input[type="email"],
input[type="tel"],
#mc_embed_signup .mc-field-group input {
    background-clip: initial;
    background-origin: initial;
    background-position: 95% 2px;
    background-size: auto 80%;
    border: 2px solid $blue;
    border-radius: 50px;
    color: $blue;
    font-family: "AcuminVariableConcept", $font-fallback;
    font-size: 15px;
    font-weight: 800;
    padding: 5px 10px;
    text-transform: uppercase;

    &:focus {
        border: 2px solid $orange;
        outline: none;
    }
}

.content-area {
    flex: 1;
}

h1 {
    color: $blue;
    font-family: "Barlow-Extra Bold", $font-fallback;
    font-size: 36px;
    text-transform: uppercase;
    transition: color $transition-time ease-in-out;
}

h2 {
    color: $orange;
    font-family: "Barlow-Extra Bold", $font-fallback;
    font-size: 36px;
    text-transform: uppercase;
    transition: color $transition-time ease-in-out;
}

h3 {
    color: $orange;
    font-family: "Barlow-Extra Bold", $font-fallback;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;

    &.h3__invert {
        background-color: $orange;
        color: $white;
        font-family: "Avenir", $font-fallback;
    }

    &.blue {
        color: $blue;
    }
}

h4 {
    color: $orange;
    display: inherit;
    font-family: "Barlow-Extra Bold", $font-fallback;
    font-size: 20px;
    text-transform: uppercase;

    &.blue {
        color: $blue;
    }
}

h5 {
    color: $blue;
    display: inherit;
    font-family: "Avenir", $font-fallback;
    font-size: 9px;

    &.product__row {
        display: block;
        font-size: 15px;
        font-weight: 800;
    }

    &.product__row__add {
        color: $orange;
        display: block;
        font-size: 15px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
    }
}

p,
a {
    font-size: 15px;
    line-height: 18px;

    strong {
        font-weight: 800;
    }
}

p {
    padding-bottom: 20px;

    &:last-child {
        padding-bottom: 0;
    }

    a {
        font-weight: 800;
        text-decoration: underline;
        text-decoration: none;
        text-decoration-color: $blue;
        transition: color $transition-time ease-in-out;

        &:hover {
            color: $orange;
            text-decoration-color: $orange;
        }
    }

    img {
        width: auto;
    }

    iframe {
        width: 100%;
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: color $transition-time;

    &:hover h4 {
        color: $orange;
    }
}

section {
    margin: $spacer-less 0 0 0;
}

button,
.button,
#mc_embed_signup form .button,
.woocommerce a.button.alt,
.woocommerce button.button.alt {
    background-color: $orange;
    border: 1px solid $white;
    color: $white;
    cursor: pointer;
    font-family: "Avenir", $font-fallback;
    font-size: 15px;
    height: auto;
    line-height: 14px;
    // margin: 50px 0;
    padding: 12px 15px;
    text-transform: uppercase;
    transition: background-color $transition-time, border $transition-time;

    &:hover {
        background-color: $blue;
        border: 1px solid $blue;
    }

    &.out-of-stock:hover {
        background-color: $gray;
        border: 1px solid $gray;
    }

    a {
        font-family: "Avenir", $font-fallback;
        font-size: 15px;
        text-transform: uppercase;
    }
}

#mce-responses {
    margin-left: 0;
    position: absolute;
    top: 20px;

    a { font-size: 18px; }
}

img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

img.alignright {
    float: right;
    margin: 1em 0 1em 1em;
}

img.alignleft {
    float: left;
    margin: 1em 1em 1em 0;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright { float: right; }
.alignleft { float: left; }

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    cursor: pointer;
}

.background__image {
    background-clip: content-box;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hr {
    border-bottom: 1px solid $blue;
    margin: 0 auto;
    width: 100%;

    &.orange { border-bottom: 1px solid $orange; }
}

// .vhr {
//     border-left: 1px solid $black;
//     height: 200px;
// }

.hero {
    height: 487px;
    margin-top: $spacer-less;
    min-width: 100%;
    width: 100%;
}

.hero__text {
    color: $white;
    padding: $spacer-less 0 0 $spacer-less;
}

.social {
    .social__item {
        cursor: pointer;
        display: inline-block;
        height: 30px;
        padding-right: 5px;
        width: 30px;

        div {
            height: 100%;
            width: 100%;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.arrow__down,
.arrow__right {
    width: auto;
}

@media only screen and (max-width: $max-width) {
    body {
        margin: 0 5px;
    }
}

@media only screen and (max-width: $tablet-break) {
    .hero__text {
        padding-left: $spacer;

        h1 {
            padding: 0 10px;
        }
    }

    .hr {
        width: 100%;
    }
}

@media only screen and (max-width: $mobile-break) {
    .hero__text {
        margin: 0 auto;
        padding: $spacer 0;
    }

    .category__secondary .col-3 {
        @include flex__full;
    }

    .post .post__content { margin: 0; }
}
