.home__primary {
    margin: 0;
}

.home__primary__text {
    padding-top: 80px;

    h1 {
        display: inline-block;
        text-align: left;
    }

    h3 {
        display: inline-block;
        margin-top: $spacer;
        padding: 14px 24px;
        text-align: center;
    }

    .arrow__down {
        height: 160px;
        max-height: 100%;
        width: 100%;
    }
}

.home__primary__arrow {
    height: 160px;
    margin: $spacer 0;
}

.home__primary__image {
    background-attachment: fixed;
    background-size: 75%;
    background-position: right;
    height: 513px;
}

.home__secondary h1 {
    margin: 80px 0 108px;
}

.home__secondary__step__container {
    margin: 0 $spacer-more;
}

.home__secondary__step {
    margin-bottom: $spacer;
    width: 155px;

    img {
        background-color: $gray;
        height: auto;
        width: 146px;
    }

    h2 {
        margin: $spacer 0;
    }

    p {
        margin: 0 auto;
        text-align: center;
        width: 155px;
    }
}

.home__secondary__arrow__container {
    height: 160px;
}

.home__secondary__arrow {
    height: 160px;
}

.home__tertiary__title {
    margin-bottom: $spacer-more;
}

.home__tertiary__row {
    margin: 0 $spacer-more $spacer;

    .product__row__add { position: relative; }
    .product__text__add__progress { position: absolute; }
    .product__text__add__success { position: absolute; }

    .col-3 {
        max-width: 24%;

        a .product__image {
            height: 228px;
            margin-bottom: 10px;
            padding: 0;
        }

        a:hover {
            h5 { color: $orange; }
        }

        h5 {
            cursor: pointer;
            margin-bottom: $spacer-less;
        }

        .product__row__button {
            align-self: flex-end;
            width: 100%;
        }

        .product__row__add__container {
            width: 100%;
        }

        .product__row__add {
            border-bottom: 1px solid $white;
            display: inline-block;
            margin-bottom: 0;

            &:hover {
                border-bottom: 1px solid $blue;
            }

            &.out-of-stock:hover {
                border-bottom: 1px solid $white;
                color: $gray;
                cursor: default;
            }
        }
    }
}

.home__tertiary__arrow__container--down {
    height: 75px;
    text-align: center;
    width: 19px;
}

.home__tertiary__arrow__container--right {
    height: 19px;
    max-width: 137px;
    padding: 0 10px;
    // text-align: right;
    width: 50%;
}

.home__tertiary__arrow.arrow__down {
    height: 55px;
    max-height: 100%;
}

.home__tertiary__arrow.arrow__right {
    width: 112px;
}

.home__tertiary__row__head {
    margin-bottom: $spacer;

    h3 {
        border-bottom: 1px solid $white;
        display: inline;

        &:hover {
            border-bottom: 1px solid $blue;
        }
    }
}

.home__tertiary__shopall {
    height: 100%;
}

@media only screen and (max-width: $menu-break) {
    .home__tertiary__row {
        margin: 0 $spacer $spacer;
    }
}

@media only screen and (max-width: $menu-mobile-break) {
    .home__primary > div {
        flex-basis: 50%;
        max-width: 50%;
    }

    .home__secondary__step__container {
        margin: 0 $spacer;
    }

    .home__tertiary__row .col-3 {
        flex-basis: 50%;
        margin-bottom: $spacer;
        max-width: 49%;
    }
}

@media only screen and (max-width: $mobile-break) {
    .home__primary > div {
        @include flex__full;
    }

    .home__secondary__step__container {
        margin: 0 $spacer-less;

        .col-4 {
            @include flex__full;
        }
    }

    .home__secondary__step {
        img,
        p {
            width: 100%;
        }
    }

    .home__secondary__singles > div {
        @include flex__full;

        margin-bottom: $spacer-less;
    }

    .home__tertiary__row {
        margin: $spacer-less 0;
        padding: 0 $spacer-less;
    }

    .home__tertiary__row .col-3 {
        @include flex__full;
    }

    .home__tertiary__arrow__container--down {
        max-height: 35px;
    }

    .home .home__tertiary .home__tertiary__photo {
        @include flex__full;

        padding-right: 0;
    }

    .home .home__tertiary .home__tertiary__text {
        @include flex__full;

        margin-top: $spacer-less;
    }
}
