$max-width: 1200px;

$black: #000;
$white: #fff;
$gray: #ccc;
$blue: #4e81c2;
$orange: #f38134;
$shadow: #888;

$menu-break: 1124px;
$menu-mobile-break: 768px;
$tablet-break: 1024px;
$mobile-break: 600px;

$spacer: 44px;
$spacer-less: 18px;
$spacer-more: 120px;

$transition-time: 0.25s;
