.woocommerce ul.products li.product .woocommerce-loop-product__title {
    color: $blue;
    display: block;
    font-family: "Barlow-Extra Bold", $font-fallback;
    font-size: 22px;
    text-transform: uppercase;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    margin: 0;
}

.woocommerce-LoopProduct-link,
.woocommerce-loop-product__link {
    // flex-grow: 1;
}

.woocommerce ul.products li.product .price {
    color: $blue;
    font-family: "Barlow-Extra Bold", $font-fallback;
    font-size: 22px;
    text-transform: uppercase;
}

.woocommerce a.button,
.woocommerce button.button {
    background-color: $orange;
    border: 1px solid $white;
    color: $white;
    cursor: pointer;
    font-family: "Avenir", $font-fallback;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    // margin: 50px 0;
    padding: 12px 15px;
    text-transform: uppercase;
    transition: background-color $transition-time, border $transition-time;

    &:hover {
        background-color: $blue;
        border: 1px solid $blue;
        color: $white;
    }
}

.woocommerce-message {
    border-top-color: $blue;

    &::before {
        color: $orange;
    }
}

.woocommerce-input-wrapper {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    #mc_embed_signup .mc-field-group input,
    .select2-container--default .select2-selection--single {
        border-radius: 0;
    }

    .select2-container--default .select2-selection--single {
        padding: 0;
    }
}

.woocommerce-info {
    border-top: 0;
}

.woocommerce a.remove {
    color: $orange !important;

    &:hover {
        background: $orange;
    }
}

.woocommerce-page table.cart td.actions .input-text {
    height: 40px;
    width: 150px;
}

.woocommerce-checkout #payment .payment_method_paypal img {
    width: auto;
}

.woocommerce-privacy-policy-text {
    margin-bottom: $spacer-less;
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
    width: auto;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: auto;
}
